.header {
  position: sticky;
  top: 0px;
  padding: 6px 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  color: 393b3d;
}

.header .logo {
  vertical-align: top;
}

.header .menu .head {
  display: none;
}
.header .menu ul {
  list-style: none;
}

.header .menu > ul > li {
  display: inline-block;
  margin-left: 14px;
}

.header .menu > ul > li:not(:last-child) {
  margin-right: 0px;
}
.header .menu .dropdown {
  position: relative;
}
.header .menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #393b3d;
  line-height: 1.5;
  display: block;
}

.header .menu > ul > .dropdown > a {
  padding-right: 14px;
}

.header .menu .i {
  font-size: 13px;
  pointer-events: none;
  user-select: none;
  position: absolute;
  color: #393b3d;
  top: calc(50% -5%);
}

.header .menu > ul > li > .i {
  top: 6px;
  right: -1px;
}
.header .menu .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 240px;
  padding: 15px 0;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(255, 2, 2, 0.05);
  z-index: 1;
  transform-origin: top;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}
.header .menu .sub-menu-right {
  left: 100%;
  top: -5%;
}
.header .menu .sub-menu-left {
  top: 0;
  left: auto;
  right: 100%;
}

.header .menu li:hover > .sub-menu {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
.header .menu .sub-menu a {
  padding: 6px 20px;
}

.header .menu .sub-menu .dropdown > a {
  padding-right: 34px;
}
.header .menu > ul > li > a {
  background-image: linear-gradient(#79c044, #79c044);
  background-repeat: no-repeat;
  background-size: 0 1.5px;
  background-position: 0 100%;
  transition: background-size 0.5s ease;
}
.header .menu ul > li:hover > a {
  background-size: 100% 1.5px;
  color: #79c044;
}
.header .menu ul > li:hover .i {
  color: #79c044;
}
.header .menu .sub-menu span {
  background-image: linear-gradient(#79c044, #79c044);
  background-repeat: no-repeat;
  background-size: 0 1.5px;
  background-position: 0 100%;
  transition: background-size 0.5s ease;
}
.header .menu .sub-menu li:hover > a > span {
  background-size: 100% 1.5px;
  color: #79c044;
}
.header .menu .sub-menu li:hover > a > span,
.header .menu .sub-menu .i {
  top: 5px;
  transform: rotate(-90deg);
  right: 10px;
}

.header-right > * {
  margin-left: 10px;
}

.header-right .open-menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}
.header-right .open-menu-btn {
  display: none;
}
/* Active route styles */
.header .menu > ul > li.active > a {
  color: #79c044;
  background-size: 100% 1.5px;
}
.header .menu .sub-menu li.active > a > span {
  color: #79c044;
  background-size: 100% 1.5px;
}

@media (max-width: 959px) {
  .header {
    width: 100%;
    padding: 6px 10px;
  }
  /* Active route styles */
  .header .menu > ul > li.active > a {
    color: #ffffff;
    background-size: 100% 1.5px;
  }
  .header .menu .sub-menu li.active > a > span {
    color: #ffffff;
    background-size: 100% 1.5px;
  }
  .header .menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    background-color: #79c044;
    padding: 15px 20px;
    overflow: auto;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  .header .menu a,
  .header .menu .i {
    color: #ffffff;
  }

  .header .menu > ul > li > a {
    background-image: linear-gradient(#ffffff, #ffffff);
    background-repeat: no-repeat;
    background-size: 0 1px;
    background-position: 0 100%;
    transition: background-size 0.5s ease;
  }
  .header .menu ul > li:hover > a {
    background-size: 100% 1px;
    color: #ffffff;
  }
  .header .menu ul > li:hover > .i {
    color: #ffffff;
  }

  .header .menu .sub-menu li:hover > a > span,
  .header .menu .sub-menu li:hover > .i {
    color: #d9fbee;
  }

  .header .menu .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .header .menu.open {
    transform: none;
    transform: translateX(0);
  }

  .header .menu .close-menu-btn {
    height: 30px;
    width: 30px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }
  .header .menu .close-menu-btn::before,
  .header .menu .close-menu-btn::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #fff;
  }
  .header .menu .close-menu-btn::before {
    transform: rotate(45deg);
  }
  .header .menu .close-menu-btn::after {
    transform: rotate(-45deg);
  }

  .header .menu > ul > li {
    display: block;
  }
  .header .menu > ul > li:not(:last-child) {
    margin-right: 0;
  }
  .header .menu li {
    border-bottom: 1px solid #ffffff68;
  }
  .header .menu > ul > li:first-child {
    border-top: 1px solid #ffffff68;
  }
  .header .menu > ul > li > a {
    padding: 10px 0;
  }
  .header .menu > ul > .dropdown > a {
    padding-right: 34px;
  }
  .header .menu .i {
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    cursor: pointer;
    top: 7px;
  }
  .header .menu .dropdown.active > .i {
    transform: rotate(180deg);
  }
  .header .menu > ul > li > .i {
    top: 7.5px;
    right: 0px;
  }

  .header .menu .sub-menu {
    color: #ffffff;
    background-color: #79c044;
    position: static;
    opacity: 1;
    transform: none;
    visibility: visible;
    padding: 0;
    transition: none;
    box-shadow: none;
    width: 100%;
    display: none;
  }
  .header .menu .dropdown.active > .sub-menu {
    display: block;
  }
  .header .menu .sub-menu li:last-child {
    border: none;
  }

  .header .menu .sub-menu .sub-menu a {
    padding-left: 30px;
  }
  .header .menu .sub-menu .sub-menu .sub-menu a {
    padding-left: 45px;
  }
  .header .menu .sub-menu span {
    background-image: none;
  }
  .header .menu .sub-menu .i {
    transform: none;
  }
  .header-right .open-menu-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 44px;
    position: relative;
    background-color: transparent;
    border: none;
  }
  .header-right .open-menu-btn .line {
    height: 2px;
    width: 30px;
    background-color: #79c044;
    position: absolute;
  }
  .header-right .open-menu-btn .line-1 {
    transform: translateY(-8px);
  }

  .header-right .open-menu-btn .line-3 {
    transform: translateY(8px);
  }
}
